/* Styling for the whole dashboard container */
.dashboard-container {
    position: fixed;
    /* Đặt thanh công cụ ở vị trí cố định */
    top: 0;
    left: 0;
    height: 100vh;
    /* Chiều cao toàn màn hình */
    z-index: 999;
    /* Đảm bảo rằng thanh công cụ hiển thị trên cùng */
    background-color: #ffffff;
    /* Màu nền thanh công cụ */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* Tạo đổ bóng để phân biệt thanh công cụ */
    transition: width 0.3s ease;
    /* Hiệu ứng chuyển động */
    overflow: hidden;
    /* Ẩn các thành phần bên trong khi thanh công cụ thu gọn */
}

.logo-container {
    text-align: center;
    padding: 20px 0;
    /* Tạo khoảng cách giữa logo và phần còn lại */
}

.logo-image {
    width: 100%;
    /* Đặt kích thước của logo phù hợp với độ rộng của menu */
    height: auto;
}

.ant-menu {
    border-right: none;
    /* Loại bỏ đường viền phải của menu */
}

/* Khi thanh công cụ mở rộng */
.dashboard-container.expanded {
    width: 250px;
}

/* Khi thanh công cụ thu gọn */
.dashboard-container.collapsed {
    width: 80px;
}

.main-content {
    margin-left: 80px;
    /* Điều chỉnh lề trái khi thanh công cụ thu gọn */
    transition: margin-left 0.3s ease;
    /* Hiệu ứng chuyển động khi thay đổi kích thước */
}

/* Khi thanh công cụ mở rộng, điều chỉnh lề cho nội dung chính */
.dashboard-container.expanded~.main-content {
    margin-left: 250px;
}

/* Điều chỉnh giao diện khi màn hình nhỏ */
@media screen and (max-width: 768px) {
    .dashboard-container {
        position: absolute;
        /* Thanh công cụ không cố định trên màn hình nhỏ */
        z-index: 999;
    }

    .main-content {
        margin-left: 0;
    }
}