.not-found-content {
    min-height: 610px;
    padding: 0;
    /* Loại bỏ padding để không tạo khoảng trống thừa */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/404.png');
    background-size: cover;
    /* Đảm bảo hình ảnh phủ kín cả chiều rộng và chiều dài */
    background-position: top;
    /* Căn giữa hình ảnh */
    background-repeat: no-repeat;
    /* Không lặp lại hình ảnh */
    width: 100%;
    /* Đảm bảo phần tử chiếm toàn bộ chiều rộng */
    height: 100vh;
    /* Đảm bảo phần tử chiếm toàn bộ chiều dài viewport */
    position: relative;
}



.not-found-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* Lớp phủ mờ đen trên hình nền */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}